.custom-row-one,
.social-media,
.custom-content {
    background: #fff;
}

.social-media h3,
.custom-content h1 {
    color: #4EAAA4;
}

.custom-nav a,
.custom-content p {
    color: #999999;
}

.custom-nav a {
    font-size: 2rem;
}

.custom-nav >li,
.social-media li {
    display: inline;
}

.custom-navbar-text {
    font-size: 4rem;
    background-color: #4EAAA4;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #DDDDDD;
}

.custom-content {
    border: 1px solidc #4EAAA4;
    margin-top: 4rem;
}

.custom-content h1 {
    color: #4EAAA4;
    margin-left: 1rem;
    border-bottom: 1px solid #DDDDDD;
}

.custom-content img {
    float: left;
    padding: 1rem 1rem 1rem;
    width: 26rem;
    height: 22rem;
}

.custom-content p {
    line-height: 3rem;
}

.social-media {
    margin-top: 4rem;
}

.social-media img {
    width: 4.57142857rem;
    height: 4.57142857rem;
}

.social-media ul {
    position: relative;
    left: 6rem;
    padding-top: 1rem;
    margin-bottom: 18px;
    padding-left: 0px;
    width: 157px;
}

.social-media h3 {
    position: relative;
    left: 4rem;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 4px;
    width: 200px;
}

.social-media {
    position: relative;
}

body {
    background-image: url(../image/cork-wallet.png);
    margin: 0;
    padding: 0;
}

.footer {
    background: #666666;
    color: #fff;
    text-align: center;
    border-top: 2rem solid #4EAAA4;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.footer p {
    margin: 10px 0 10px;
}

button {
    margin-top: 1rem;
}

form {  
    height: 491px;
}
